<footer class="footer">
  <hr style="border: 1px solid #fff; opacity: 1; margin: 0 0 28px 0;">

  <div class="footer__content">
    <div class="hair-img_socialMedia">
      <img src="../img/Hair_Globalmedik_Footer.svg" alt="hair globalmedik" style="margin-left: -17px; width: 280px;
      height: 89px; flex-shrink: 0;">

      <div class="social_media_footer">
        <div class="social_media_heading">Our social networks</div>
        <div class="social_media_images">
          <div class="social_media_img">
            <div><img src="../img/instagram_footer.svg" alt="instagram image"></div>
          </div>
          <div class="social_media_img">
            <div><img src="../img/facebook_footer.svg" alt="facebook image"></div>
          </div>
          <div class="social_media_img">
            <div><img src="../img/youtube_footer.svg" alt="youtube image"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__main_content">
      <div class="footer_links_groups">
        <ul class="footer_links_group">
          <li><a href="#">Experience of our patients</a></li>
          <li><a href="#">Prices</a></li>
          <li><a href="#">About the clinic</a></li>
        </ul>
        <ul class="footer_links_group">
          <li><a href="#">Doctors at the clinic</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="contact_us_footer">
        <div class="d-flex flex-column align-items-center gap-3">
          <div class="contact_us_heading">CONTACT US</div>
          <div class="contact_us_social_media">
            <img src="../img/whatsapp_footer.svg" alt="whatsapp img">
            <img src="../img/telegram_footer.svg" alt="telegram img">
            <img src="../img/viber_footer.svg" alt="viber img">
          </div>
        </div>

        <button class="callback_btn">
          Callback
        </button>
      </div>
    </div>
  </div>
</footer>