<footer class="footer">
  <hr class="horizontal-line">

  <div class="footer__content_block">
    <div class="footer__content">
      <div class="hair-img_socialMedia">
        <div class="socialMedia_networks">
          <img src="../img/Hair_Globalmedik_Footer.svg" alt="hair globalmedik"
            style="margin-left: -17px; width: 280px; height: 89px; flex-shrink: 0;">

          <div class="social_media_footer">
            <div class="social_media_heading">Our social networks</div>
            <div class="social_media_images">
              <div class="social_media_img">
                <a href="#">
                  <img src="../img/instagram_footer.svg" alt="instagram image">
                </a>
              </div>
              <div class="social_media_img">
                <a href="#">
                  <img src="../img/facebook_footer.svg" alt="facebook image">
                </a>
              </div>
              <div class="social_media_img">
                <a href="#">
                  <img src="../img/youtube_footer.svg" alt="viber image">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__main_content_block">
        <div class="footer__main_content">

          <div class="links_contact_us">
            <div class="footer_links_groups">
              <ul class="footer_links_group">
                <li><a href="#">Experience of our patients</a></li>
                <li><a href="#">Prices</a></li>
                <li><a href="#">About the clinic</a></li>
              </ul>
              <ul class="footer_links_group">
                <li><a href="#">Doctors at the clinic</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>

            <div class="contact_us_footer_block">
              <div class="contact_us_footer">
                <div class="contact_us_heading">CONTACT US</div>
                <div class="contact_us_social_media">
                  <a href="#" class="contact_us_social_media_link"><img src="../img/whatsapp_footer.svg"
                      alt="whatsapp img"></a>
                  <a href="#" class="contact_us_social_media_link"><img src="../img/telegram_footer.svg"
                      alt="telegram img"></a>
                  <a href="#" class="contact_us_social_media_link"><img src="../img/viber_footer.svg"
                      alt="viber img"></a>
                </div>
              </div>

              <button class="callback_btn">
                Callback
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Privacy Policy link -->
    <div class="privacy_policy_powered_by__footer">
      <div class="privacy_policy_footer">
        <a href="#">Privacy Policy</a>
      </div>

      <div class="powered_by_footer">
        <span class="powered_by">Powered by</span>
        <div class="digital_nation_logo">
          <img src="../img/Ellipse_opacity_1.svg" alt="opacity 1"">
          <img src=" ../img/Ellipse_opacity_0.7.svg" alt="opacity 0.7" style="margin-left: -32px; margin-top: -4px;">
          <img src="../img/Ellipse_opacity_0.4.svg" alt="opacity 0.4" style="margin-left: -29px; margin-top: -2px;">
        </div>
        <span class="digital_nation">Digital NATION</span>
      </div>
    </div>
  </div>
</footer>