<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-start">
        <img class="logo-img" src="../img/hair-08.svg" alt="logo" />
        <nav>
          <ul>
            <li><a href="#">Clients' experience</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Prices</a></li>
            <li><a href="#">Feedbacks</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </nav>
        <button class="leave_request_btn">
          Leave an application
        </button>
        <select id="select_lang">
          <option value="en">EN</option>
          <option value="ua">UA</option>
        </select>
      </div>
    </div>
  </div>
</header>