@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");


:root {
  --primary-color: #27BDBE;
  --secondary-color: #FF783E;
  --third-color: #6DDBD9;
  --fourth-color: #FFC0A5;
}

header.header {
  height: 71px;
  width: 1240px;
  flex-shrink: 0;
  margin: 24px 0 70px 0;
  border-bottom: 1px solid #404040;
}

img {
  object-fit: cover;
}

ul li {
  list-style-type: none;
}

img.logo-img {
  object-fit: cover;
  width: 240px;
  flex-shrink: 0;
  margin-right: 125px;
  margin-left: -25px;
}

nav.header_navigation {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 45px;
}

nav.header_navigation ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

nav.header_navigation ul li a {
  text-decoration: none;

  color: var(--text, #404040);
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  white-space: nowrap;
  transition: 0.3s;
}

nav.header_navigation ul li:hover a {
  transition: 0.3s;
  color: var(--secondary-color);
}

button.leave_request_btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--text, #404040);
  background: transparent;
  margin-right: 1%;
  font-size: 16px;
}

button.leave_request_btn:hover {
  background: linear-gradient(45deg, #f42b03 0%, #f48003 74%);
  color: #fff;
  border: none;
  padding: 9px 25px;
}

select.lang_switcher {
  color: #fff;
  background: #27c1c2;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 4px 8px 4px 16px;
  border: none;
  border-radius: 20px;
}










main.landing {
  width: 1240px;
  height: 7133px;
}

section.beat_boldness {
  width: 1240px;
  height: 768px;
  position: relative;
  margin-bottom: 162px;
}

div.hair_transplants {
  height: 529px;
  display: flex;
  align-items: center;
  background: url("../../img/G_global.svg") no-repeat 100% 44.5%;
}

div.hair_transplants_block {
  max-width: 597px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2.section_title {
  color: var(--text, #404040);
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

span.title_color {
  color: var(--secondary-color);
}

div.verification_ellipse {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;
  background: url("../../img/verification_ellipse.svg") no-repeat;
}

img.verification_mark {
  position: relative;
}

p.verification_text {
  width: 245px;
  color: var(--text, #404040);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

button.book_consultation_btn {
  display: flex;
  width: max-content;
  height: 54px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: var(--Button, linear-gradient(92deg, #7ed8d7 4.42%, var(--primary-color) 91.72%));
  background-size: 300%;
  background-position: left;
  transition: 1s background-position ease-in-out;
  border: none;

  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button.book_consultation_btn:hover {
  background-position: right;
}


:is(div.before-label, div.after-label) {
  position: absolute;
  display: inline-flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(104deg, rgba(255, 255, 255, 0.65) 10.03%, rgba(255, 255, 255, 0.26) 89.26%);
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2.200000047683716px);
}

div.before-label {
  top: -30%;
  right: 52%;
}

div.after-label {
  top: 10px;
  right: 15px;
}

img.before-human {
  margin-top: -155px;
  margin-left: 15px;
}

img.after-human {
  margin-left: -50px;
  margin-bottom: -70px;
}

div.boldness_switcher_img,
div.suitable_packages_switcher {
  position: absolute;
  display: flex;
  gap: 20px;
  width: max-content;
  bottom: -15px;
  left: 15px;
}

button.boldness_switch,
button.sPackage_switch {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;
  border: none;
  filter: drop-shadow(0px 10px 10px rgba(56, 114, 151, 0.1));

  display: flex;
  justify-content: center;
  align-items: center;
}

button.boldness_switch:hover,
button.sPackage_switch:hover {
  background: radial-gradient(rgb(255, 255, 255) 10%, #b9fffe 60%, #5fe4e4 100%);
}

div.qualities {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: start;
  width: 1240px;
  gap: 20px;
}

div.quality {
  display: flex;
  height: 239px;
  width: 295px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;

  border-radius: 20px;
  background: #fff;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
}

div.sub-title {
  color: var(--text, #404040);

  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

div.quality_text {
  color: var(--text, #404040);
  width: 264px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

img.quality_img {
  position: relative;
  left: -52px;
}




section.patients_results {
  width: 1240px;
  height: 579px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.videos_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.patient_video_block {
  display: flex;
  flex-direction: column;
  width: 610px;
  height: 465px;
}

div.patient_video_1 {
  background: url("../../img/patients_video_1.jpg");
}

div.patient_video_2 {
  background: url("../../img/patients_video_2.jpg");
}

:is(div.patient_video_1, div.patient_video_2) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

div.patient_video {
  width: 610px;
  height: 334px;
  margin-bottom: 24px;
}

svg.blue-line {
  margin-bottom: 12px;
}

div.video_text {
  color: var(--text, #404040);
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 8px;
}




section.globalmedik_clinic {
  width: 1240px;
  height: 680px;
  flex-shrink: 0;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.gallery {
  width: 610px;
  height: 566px;
  flex-shrink: 0;
  background-color: var(--primary-color);
}

div.description {
  width: 610px;
  flex-shrink: 0;
  font-family: "Manrope", sans-serif;
  color: var(--text, #404040);
  line-height: normal;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

div.advantages_text {
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #38c3c0;

  font-size: 20px;
  font-weight: 500;
}

span.desc_title {
  font-weight: 700;
}

:is(div.location_text, div.offers_text, button.book_consultation_btn) {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
}




section.our_doctors {
  margin-top: 120px;
  width: 100%;
  height: 681px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  color: var(--text, #404040);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

div.about_doctors_block {
  display: flex;
  justify-content: end;
  height: 100%;
}

div.about_doctors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 925px;
  height: 100%;
}

div.doctors {
  display: flex;
  height: 371px;
  gap: 20px;
}

div.doctor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

img.doctor_img {
  flex-shrink: 0;
  border-radius: 20px;
}

span.doctor_name {
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid var(--text, #404040);
  background: #FFF;
  font-weight: 700;
}

div.doctors_qualities_text {
  font-weight: 600;
}




section.all_inclusive_packet {
  width: 1240px;
  height: 523px;
  flex-shrink: 0;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.all_inclusive__packets {
  display: flex;
  gap: 20px;
}

div.all_inclusive__packet {
  display: flex;
  flex-direction: column;
  width: 295px;
}

div.packet__img {
  width: 295px;
  height: 195px;
  border-radius: 20px;
  position: relative;
}

div.comfort_transfer-img {
  background: url("../../img/comfortable_tranfer.jpg") no-repeat;
}

div.lux_hotel-img {
  background: url("../../img/lux_hotel.jpg") no-repeat;
}

div.best_transplantation-img {
  background: url("../../img/best_hair_transplants.jpg") no-repeat;
}

div.care_products-img {
  background: url("../../img/care_products.jpg");
  z-index: 1;
}

div.done_ellipse {
  position: absolute;
  right: 0;
  top: -22.5px;
  width: 45px;
  height: 45px;
  background: #FFF;
  box-shadow: 0 10px 10px rgba(56, 114, 151, 0.10);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


}

div.done_mark {
  width: 23px;
  height: 23px;
  background: url("../../img/done_mark.svg") no-repeat;
}

div.packet_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




section.suitable_transplants_packages {
  width: 1240px;
  height: 807px;
  flex-shrink: 0;
  margin-top: 120px;
  color: #404040;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  position: relative;
}

div.suitable_packages {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

div.suitable_package {
  position: relative;
  border-radius: 20px;
  border: 1px solid #5BE1FF;
  background: #FFF;
  padding: 24px;
  width: 400px;
  height: 531px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

div.suitable_package_heading {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div.suitable_package__title {
  font-size: 20px;
  font-weight: 700;
}

div.suitable_package__location {
  font-size: 18px;
  font-weight: 500;
  color: #787878;
  text-decoration: underline;
}

div.includes_cost_title {
  font-size: 16px;
  font-weight: bold;
}

ul.includes_cost_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 4px 0 0 0;
}

ul.includes_cost_list li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: normal;
}

div.includes_cost_done {
  background: #FFFFFF;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: 0 10px 10px rgba(56, 114, 151, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;

}

div.select_suitable_options {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

select.global_medic_discounts,
select.global_medic_support {
  display: flex;
  width: 352px;
  padding: 4px 8px 4px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid #787878;
  background: #FFFFFF;

  color: #787878;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  -moz-appearance: none;
  appearance: none;
  background: url("../../img/suitable_select_arrow.svg") no-repeat 98.5% !important;
}

span.discounted_package_price {
  color: #787878;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
}

span.real_package_price {
  color: var(--dark-grey, #303535);
  font-size: 20px;
  font-weight: 600;
}

button.contact_the_clinic {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background-image: var(--Button, linear-gradient(92deg, var(--third-color) 4.42%, var(--primary-color) 91.72%));
  background-size: 300%;
  background-position: left;
  transition: 1s background-position ease-in-out;
  border: none;

  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
}

button.contact_the_clinic:hover {
  background-position: right;
  transition: 1s background-position ease-in-out;
}


div.suitable_package_special_price {
  position: absolute;
  display: flex;
  height: 35px;
  top: -17.5px;
  right: 0;
  width: max-content;
  height: max-content;
}

div.special_price_num {
  display: flex;
  height: 35px;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius: 30px;
  flex-shrink: 0;

  color: #FFF;
  font-size: 14px;
  font-weight: 700;
}

div.suitable_package_1_special_price,
div.suitable_package_3_special_price {
  background: linear-gradient(92deg, var(--fourth-color) 0.82%, var(--secondary-color) 99.57%);
}

div.suitable_package_2_special_price {
  background: var(--third-color);
}

div.suitable_packages_switcher {
  bottom: 0;
  right: 0;
  left: unset;
  gap: 12px;
  position: absolute;
}




div.questions_blank {
  position: relative;
  width: 1282px;
  height: 686px;
  flex-shrink: 0;
  margin-top: 74px;

  display: flex;
  justify-content: end;
  align-items: end;
}

div.circles_effects {
  position: absolute;
  top: 0;
  left: 0;
  gap: 4px;
}

div.circles_effects>img {
  vertical-align: top;
}

img.circle_blue_bold {
  margin-top: 21px;
}


div.background-img_start_question {
  position: relative;
  width: 488px;
  height: 488px;
  background: url("../../img/global_start_question.svg") no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.background-img_start_question img {
  position: absolute;
}

div.ell_opacity_blue_s_question {

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 111px;
  height: 111px;

  position: absolute;
  top: 35.7px;
  right: 35px;
}




#question_card_1 {
  padding: 57px 0 67px 85px;
}

ul.questions_container {
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 0;

  width: 1240px;
  height: 582px;
  flex-shrink: 0;
  border-radius: 40px;
  background: var(--primary-color);

  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

div.question_s_card__heading {
  width: 450px;
  font-size: 32px;
  margin-bottom: 25px;
}

div.first_question {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

div.question_block {
  display: flex;
  align-items: center;
  gap: 12px;
}

div.blank_number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 63px;
  height: 63px;
  flex-shrink: 0;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.40) 15.64%, rgba(255, 255, 255, 0.20) 78.01%);
}

span.question_text {}