.header{
    margin: 24px 100px 0 100px;

    .container {
        .row {
            .col-12 {
                display: inline-flex;
            }
        }
    }
}

ul li {
    list-style-type: none;
}