@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --primary-color: #27bdbe;
  --secondary-color: #ff783e;
  --third-color: #6ddbd9;
  --fourth-color: #ffc0a5;
}

header.header {
  height: 71px;
  width: 1240px;
  flex-shrink: 0;
  margin: 24px 0 70px 0;
  border-bottom: 1px solid #404040;
}

img {
  object-fit: cover;
}

ul li {
  list-style-type: none;
}

img.logo-img {
  object-fit: cover;
  width: 240px;
  flex-shrink: 0;
  margin-right: 125px;
  margin-left: -25px;
}

nav.header_navigation {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 45px;
}

nav.header_navigation ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

nav.header_navigation ul li a {
  text-decoration: none;

  color: var(--text, #404040);
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  white-space: nowrap;
  transition: 0.3s;
}

nav.header_navigation ul li:hover a {
  transition: 0.3s;
  color: var(--secondary-color);
}

button.leave_request_btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--text, #404040);
  background: transparent;
  margin-right: 1%;
  font-size: 16px;
}

button.leave_request_btn:hover {
  background: linear-gradient(45deg, #f42b03 0%, #f48003 74%);
  color: #fff;
  border: none;
  padding: 9px 25px;
}

select.lang_switcher {
  color: #fff;
  background: #27c1c2;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 4px 8px 4px 16px;
  border: none;
  border-radius: 20px;
}

